*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.navbar{
  margin: 0 30px;
}

p, h2{
  font-family: 'Assistant', sans-serif; 
}


p{
  font-size: 20px;
  font-weight: 300;
}

.navbar-nav li a {
    font-family: 'Assistant', sans-serif;  
    color: black ;
    font-size: 25px;
    margin: 0 7px;
    font-family: 'Assistant', sans-serif;  
}

.navbar-expand-lg{
  background-color: transparent;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: rgb(38, 185, 33) !important;
    text-decoration: underline
}

.carousel-item img{
    width: 100%;
    height:100vh;
    object-fit: cover;
}

.dropdown-menu.custom-border {
    border :none
  }


.dropdown-menu .bg-transparent {
    background-color: transparent;
}

#logo{
    width: 15rem;
    height: 5rem;
}

#hello{
    font-size: 15px;
}


/*-----------------------Gallery Pages-------------------------------------*/



.gallery{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.gallery img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.v-stertch{
    grid-row: span 2;
    grid-column: span 2;
}

.big-stertch{
    grid-row: span 3;
    grid-column: span 2; 
}

@media (max-width: 560px){
    .v-stertch{
        grid-row: span 1;
        grid-column: span 1;
    } 

    .big-stertch{
        grid-row: span 1;
        grid-column: span 1; 
    }

}

/*--------------------------------------about------------------------*/ 

.card-body h5{
    font-size: 25px;
    font-weight: 600;
}

.card-hover {
    transition: box-shadow 0.3s ease;
  }
  
  .card-hover:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transform: translateY(-8px);
  }
/*--------------------------------------contact page------------------------*/ 

.fa-solid{
    margin-right: 10px;
}


/*-----------------------projects-------------------------------------*/

.card {
    position: relative;
    overflow: hidden;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .card-title {
    font-size: 30px; /* Adjust the font size as needed */
    font-family: 'Assistant', sans-serif;  
  }
  
  .card:hover .card-img-overlay,
  .card .card-img-overlay-mobile {
    opacity: 1;
  }
  
  .card-title {
    margin: 0;
    color: black;
  }
  
  /* Media query for mobile devices */
  



/*------------------------------------------------------------*/


.nav-item-no-wrap {
    white-space: nowrap;
  }





